# Dependências
/vendor/
/node_modules/
.pnp
.pnp.js

# Ambiente
.env
.env.*
!.env.example

# Build / cache
/public/build/
/public/hot
/storage/*.key
/dist/
/.next/
*.log

# Flutter
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/build/
app/.packages
app/ios/Pods/
app/android/.gradle/
app/*.iml

# Sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
